target/
user_data/
models_full/
models_light/
.settings/
.metadata
*.tmp
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar
*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
*.com
*.class
*.dll
*.exe
*.o
*.so
