service/output/
service/target/
service/src/main/java/com/noori/olivot/service/Test*
training/logs/
docs/
data/
target/
user_data/
models_full/
models_light/
result/
.settings/
.metadata
*.tmp
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar
*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
*.com
*.class
*.dll
*.exe
*.o
*.so
service/src/main/webapp/WEB-INF/quickstart-web.xml
service/src/main/webapp/WEB-INF/bk/
service/src/test/
